h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

img {
  float: right;
}

#header_style {
  background-color: #ff6600;
  text-align: center;
}

#footer_style {
  background-color: #ff6600;
  text-align: center;
  clear: both;
}

#nav_style {
  background-color: #6699ff;
  float: left;
  width: 30%;
  box-sizing: border-box;
  height: 600px;
  padding: 10px;
}

#main_area_style {
  background-color: #00cc99;
  float: right;
  width: 70%;
  box-sizing: border-box;
  height: 600px;
  padding: 10px;
}
